<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBymPnyuret-12MlvY3P01zOof86ZgS1Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>221166640111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koroid.ZeusChronicle</string>
	<key>PROJECT_ID</key>
	<string>zeus-chronicles</string>
	<key>STORAGE_BUCKET</key>
	<string>zeus-chronicles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221166640111:ios:e8743e74cc437e0258341a</string>
</dict>
</plist>